<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DEMO PROJECT</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">DEMO PROJECT</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="/Dashboard/Display">Dashboard</a></li>
                @if (User.IsInRole("admin"))
                {
                    <li><a href="/Admin/Display">Admin Page</a></li>
                }
                @if (!string.IsNullOrEmpty(User.Identity.Name))
                {
                    <li><a href="/UserAuthentication/ChangePassword">Change Password</a></li>
                    <li><a href="/UserAuthentication/Logout">Logout</a></li>
                }
            </ul>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

    <!-- Include Bootstrap JS and jQuery (required for Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRkNYhLgjbD0OLb8jWCE1ai/3W5f5c5t9tA3zjz5n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNI5d5F5zC5" crossorigin="anonymous"></script>
</body>
</html>
